.page-banner {
    text-align: center;
    background-size: cover;
    z-index: 1;
    position: relative;
    background-position: center;
}
.pb-165, .py-165 {
    padding-bottom: 165px;
}

.pt-165, .py-165 {
    padding-top: 165px;
}
.text-white {
    color: #fff!important;
}
@media only screen and (min-width: 1200px){
.page-banner .container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
}
.page-banner .banner-inner {
    position: relative;
    padding: 40px 85px;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    background: #76a713;
}
.page-banner .banner-inner h1 {
    font-size: 75px;
    font-weight: 400;
    font-family: "Shadows Into Light", cursive;
    text-transform: capitalize;
}
.delay-0-2s {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.page-banner .breadcrumb {
    padding: 0;
    font-size: 24px;
    margin: 20px 0 5px;
    background: transparent;
    text-transform: capitalize;
}
.breadcrumb .breadcrumb-item {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.text-white *, .text-white a {
    color: white;
}
.breadcrumb .breadcrumb-item.active {
    color: white;
}
.ContactPage .section {
    display: block;
    position: relative;
    padding: 130px;

}

/*title*/
.contact-title {
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    margin-bottom: 50px;
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    visibility: visible;
}

.contact-title span {
    font-size: 30px;
    display: inline-block;
    color: #ff7800;
    font-family: "Shadows Into Light", cursive;
    text-transform: capitalize;
    margin-bottom: 15px;
}


.contact-title h3 {
    font-size: 35px;
    font-weight: 600;
    color: #1a2428;
    font-family: "Livvic", sans-serif;
    line-height: 1.3;
}
.ContactPage .content h4{
    font-weight: 600;
    color: #1a2428;
    font-family: "Livvic", sans-serif;
    line-height: 1.45;
    font-size: 24px;
}
.contact-form {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    @media (min-width:768px) {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    @media (min-width:1200px) {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

/*local*/
.contact-form .local-form {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 200px;
    padding: 35px;
    font-size: 18px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    border-radius: 5px;
    margin-bottom: 30px;
    background: #f8fbf3;
    visibility: visible;
}

.contact-form .local-form .icon {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-top: 6px;
    margin-right: 30px;
}

/*email*/
.contact-form .email-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 35px;
    height: 200px;
    font-size: 18px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    border-radius: 5px;
    margin-bottom: 30px;
    background: #f8fbf3;
    visibility: visible;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.contact-form .email-form .icon {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-top: 6px;
    margin-right: 30px;
}

.contact-form .email-form a {
    color: #666666;
    cursor: pointer;
    outline: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
}

.contact-form .email-form a:hover {
    color: #ff7800;
    cursor: pointer;
    outline: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
}

/*phone*/

.contact-form .phone-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 35px;
    height: 200px;
    font-size: 18px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    border-radius: 5px;
    margin-bottom: 30px;
    background: #f8fbf3;
    visibility: visible;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.contact-form .phone-form .icon {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-top: 6px;
    margin-right: 30px;
}

.contact-form .phone-form a {
    color: #666666;
    cursor: pointer;
    outline: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
}

.contact-form .phone-form a:hover {
    color: #ff7800;
    cursor: pointer;
    outline: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
}


form .section-title {
    margin-bottom: 55px;
}

form .section-title span {
    font-size: 30px;
    display: inline-block;
    color: #ff7800;
    font-family: "Shadows Into Light", cursive;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 16px 25px;
    background-color: #fff;
    border: 1px solid rgba(118, 167, 19, 0.15);
    font-size: 18px;
}

.form-group textarea {
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 16px 25px;
    background-color: #fff;
    border: 1px solid rgba(118, 167, 19, 0.15);
    font-size: 18px;
}

.form-group .theme-btn,
a.theme-btn {
    color: white;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-weight: 700;
    border-radius: 7px;
    text-align: center;
    padding: 11px 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: capitalize;
    font-family: "Livvic", sans-serif;
    background: #76a713
}
.ContactPage .form-group {
    margin-bottom: 1rem;
}

/*image*/
.contact-right-image {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    z-index: 1;
    max-width: 570px;
    text-align: center;
    position: relative;
    visibility: visible;
}

.contact-right-image img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    display: inline-block;
}

.contact-right-image img .bg {
    top: 50%;
    left: 50%;
    z-index: -1;
    max-width: 120%;
    position: absolute;
    -webkit-transform: translate(-40%, -42%);
    -ms-transform: translate(-40%, -42%);
    transform: translate(-40%, -42%);
}