.vp-cont {
    background: rgb(255, 255, 255);
    margin: 0% 4% 4% 0%;
    padding: 0%;
    padding-bottom: 10px;
  }
  
  .vp-cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
  }