/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Tajawal:wght@700&display=swap');

:root {
  scroll-behavior: smooth;
}

body {

  background: #fff;
  color: #000; // Điều chỉnh màu chữ theo ý muốn
  * {
    box-sizing: border-box;
  
  }
  overflow-x: hidden;


}
a {
  color: inherit;
  text-decoration: inherit;
}
.section-p1 {
  padding: 2px 80px;
}

.flex-column {
  flex-direction: column !important;
}

.d-flex {
  display: flex !important;
}

a {
  color: #4154f1;
  text-decoration: none;
  &:hover {
    color: #717ff5;
  }
}

.pt-2 {
  padding-top: 0.5rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
  # Main
  --------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;

  @media (max-width: 1199px) {
    padding: 20px;
  }
}
